.hero-section
{
  display: grid;
}

.hero-section-header
{
  display: grid;

  grid-template-columns: 2fr 1fr;
}

.hero-section-header-title
{
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;

  padding-top: 25px;
  padding-left: 100px;

  h2
  {
    font-size: $h2FontSize;
  }

  h6
  {
    align-self: center;

    font-size: $h2FontSize / 4;
    color: $accentColour;
  }
}

.view-all-button
{
  align-self: center;
  justify-self: center;

  img
  {
    width: 42px;
    height: 42px;
  }
}


//HERO MAIN SECTION



.hero-section-main
{
  border: 1px solid red;

  display: grid;
  grid-template-columns: 4fr 1fr;
}

.hero-section-main-title
{
  display: grid;
  \
  
}