$textColour: #111111;
$defaultBackgroundColour: #F7F3ED;
$mainFontFamily: 'Archivo Black', serif;
$sonyFontFamily: 'Poppins', 'Archivo Black', serif;


$h2FontSize: 2.5em;
$h1FontSize: 3em;

$accentColour: #F62D37;