
//Import font
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Poppins');

//SASS Imports
@import 'variables';
@import 'hero-section';

html, body
{
    /*Fill the screen and remove default padding.*/
    height: 100%;
    margin: 0;

    background: $defaultBackgroundColour;
    color: $textColour;

    font-family: $mainFontFamily;
}

.content
{
    min-height: 100%;
}







